body{
    background-color: black;
    font-family: "Nunito",sans-serif;
}

#mainNavbar .navbar-brand{
    color: azure;
}


#mainNavbar .nav-link {
    color: white;
}

#mainNavbar {
font-size: 0.8rem;
font-weight: 10;
}

#slashred span{
color: red;
}


#slashred h1{
    font-weight: 100;
    font-size: 2rem;

}

.navbar{
    background-color: black;
    transition: background 500ms;
}


@media (max-width: 1200px) {
    #slashred h1{
        font-weight: 100;
        font-size: 1.5rem;
    
    }
    
}

#thomasshelbyicon img{
    max-width: 55px; /* Set the maximum width */
  height: auto;
}


.blurb h2{
    color: red;
    font-size: 2.5rem;
    font-weight: 100;
    text-decoration: h;
}
.blurb p{
    color:white;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

h2:hover {
    color:white ;
    font-size: 200%;
}

#mainNavbar .navbar-brand:hover{
    color: red;
}

#mainNavbar .nav-link:hover{
    color: red;
    font-size: 100%;
}

.content{
    margin-top: 50px;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
 }