nav {
    font-size: 1.5em;
}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans',sans-serif;
}

h1{
 font-size: 6em;
 text-align: center;

}


@media (min-width:100px){
   h1{
    color: orange;
   }
}

@media (min-width:1000px){
    h1{
     color: yellow;
    }
 }

 @media (min-width:1500px){
    h1{
     color: green;
    }
 }

 @media (orientation: landscape){
    body{
        background-color: lightcyan;
    }
 }

 
 ul,li {
    display: inline;
    margin: 0;
    padding: 0;
 }


 nav {
    display: flex;
    justify-content: space-between;
 }