/* 
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.one,.two,.three,.four{
    height: 100px;
    flex-basis:20%;
    background-color: green;
    margin: 2px;
}

@media screen and (max-width: 400px){
    .one,.two,.three,.four{
        height: 100px;
        flex-basis:100%;
        background-color: green;
        margin: 2px;
    }
    
}

@media screen and (min-width: 401px){
    .one{
        height: 100px;
        flex-basis:100%;
        background-color: green;
        margin: 2px;
    }
    .two{
        height: 75px;
        flex-basis:100%;
        background-color: green;
        margin: 2px;
    }
    .three{
        height: 75px;
        flex-basis:100%;
        background-color: green;
        margin: 2px;
    }
    .four{
        height: 75px;
        flex-basis:100%;
        background-color: green;
        margin: 2px;
    }
    .five{
        height: 75px;
        flex-basis:49%;
        background-color: green;
        margin: 2px;
    }
    .six{
        height: 75px;
        flex-basis:49%;
        background-color: green;
        margin: 2px;
    }
    .seven{
        height: 75px;
        flex-basis:49%;
        background-color: green;
        margin: 2px;
    }
    .eight{
        height: 75px;
        flex-basis:49%;
        background-color: green;
        margin: 2px;
    }
}


@media screen and (min-width: 1000px){
    .one{
        height: 100px;
        flex-basis:150%;
        background-color: green;
        margin: 2px;
    }
    .two{
        
            height: 150px;
            flex-basis:33%;
            background-color: green;
            margin: 2px;
        
    }
    .three{
        height: 150px;
        flex-basis:33%;
        background-color: green;
        margin: 2px;
    }
    .four{
        height: 150px;
        flex-basis:33%;
        background-color: green;
        margin: 2px;
    }
    .five{
        height: 100px;
        flex-basis:25%;
        background-color: green;
        margin: 2px;
    }
    .six{
        height: 100px;
        flex-basis:25%;
        background-color: green;
        margin: 2px;
    }
    .seven{
        height: 100px;
        flex-basis:25%;
        background-color: green;
        margin: 2px;
    }
    .eight{
        height: 100px;
        flex-basis:25%;
        background-color: green;
        margin: 2px;
    }
}
  /*  /* .two{
        flex-basis: ;
  } */

/* */
 h1{
    background-color: black;
    color: white;
    margin: 2px;
    padding: 5px;
 }


 div{
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
    padding: 10px;
    width: 200px ;
    flex-wrap: wrap;
 }