body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #72ceff;
}

h1{
    color: #002c56;
}

form{
    background-color:#cdebff;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}


label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: #003b67;
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    padding: 7px 7px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
   
    background-color: #43b6eb;
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Adjust as needed */
    color: white; /* Adjust as needed */
    text-align: center;
    padding: 10px 0; /* Adjust as needed */
}
