#container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color: rgb(203, 244, 230);
}

button:active{
    background-color: aquamarine;
}


input{
    font-size: 2rem;
    width:150px;
    text-align:center;
    font-weight: bold;
}

img{
    padding-top: 25px;
}


#diceResult{
    margin: 25px;
    margin: 5px;
}


body{
    background-color: rgb(228, 244, 248);
}