* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
}

body {
    font-size: 17px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

#main{
   position: absolute;
   top: 50%; 
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
   height: 100%;
   overflow-y: auto;
   padding-right: 17px;
   box-sizing: content-box;
   margin-top: 50px;
}

p {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
}

details{
    width: 100%;
    font-family: sans-serif;
    border: 2px solid rgb(39, 15, 220);
    padding: 5px;
}

details p{
    padding: 20px;
    color:black;
    background: white;
}

summary{
    padding: 20px;
    border: 1px solid rgb(255, 13, 0);
    outline: none;
    cursor: pointer;
    display: flex;
}

section{
    max-width: 80%;
    width: 100%;
}

a{
    color: rgb(47,161,236);
    text-decoration: none;
}

h3{
    margin: 10px;
}

#image{
    width:100%;
    height: auto;
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border:  5px solid rgb(248,227,188);
    border-radius: 50%;
    box-shadow:0px 0px 15px 10px #272525;
}

figcaption{
    margin: 20px;
    font-size:  20px;
    width: 55%;
}

#title{
    color: orange;
}

b{
    color: rgb(172,255,172);
}


@media screen and (max-width:600px) {
    figcaption{
        width: 80%;
        font-size: 15px;
    }

  #tribute-info{
    width:100%;
}

  #main{
    margin-top: 0;
}

}